.city-property__page-title {
  font-weight: bold;
  font-size: 18px;
  line-height: 27px;
  text-transform: uppercase;
  margin: 0 auto;
  padding-top: 33px;
  text-align: center;
  width: 260px;
}

.city-property__page-text {
  font-size: 14px;
  line-height: 26px;
  margin: 0 auto;
  padding-bottom: 48px;
  padding-top: 29px;
  text-align: center;
  width: 280px;
}

.city-property__wrapper {
  margin: 0;
  padding: 0;

  &--blue-bg {
    background-color: $basic-blue;
  }

  &--bridge {
    background-color: $basic-blue;
    display: flex;
    flex-direction: column-reverse;
  }

  &--gray-bg {
    background-color: $basic-grey;
    padding: 25px 20px 0;

    &::after {
      content: "";
      display: block;
      width: 280px;
      height: 1px;
      background: $city-property-border;
    }

    &:last-child {
      &::after {
        display: none;
      }
    }
  }
}

.city-property__title {
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  color: $basic-white;
  text-transform: uppercase;
  text-align: center;
  padding-top: 36px;
  margin: 0 auto;

  &--bridge {
    padding-top: 38px;
  }

  &--gray-bg {
    color: $basic-black;
    padding: 0;
  }
}

.city-property__number {
  color: $basic-white;
  display: flex;
  align-items: center;
  justify-content: center;
  vertical-align: unset;
  padding-top: 11px;
  font-size: 14px;
  line-height: 21px;

  &::before {
    display: inline-block;
    content: "";
    width: 8px;
    height: 1px;
    background: $basic-white;
    vertical-align: unset;
    text-align: center;
    margin-right: 5px;
    margin-top: 2px;
  }

  &::after {
    display: inline-block;
    content: "";
    width: 8px;
    height: 1px;
    background: $basic-white;
    vertical-align: unset;
    text-align: center;
    margin-left: 5px;
    margin-top: 2px;
  }

  &--gray-bg {
    color: $basic-black;
  }
}

.city-property__text {
  font-size: 14px;
  line-height: 21px;
  color: $basic-white;
  text-align: center;
  padding-top: 17px;
  margin: 0 auto;
  padding-bottom: 38px;

  &--bridge {
    padding: 18px 0 35px;
  }

  &--gray-bg {
    color: $basic-black;
    padding-bottom: 24px;
    width: 250px;
  }

  &--gray-bg-small {
    color: $basic-black;
    padding-bottom: 24px;
    width: 250px;
  }
}

.city-property__number--gray-bg::before,
.city-property__number--gray-bg::after {
  background-color: $basic-black;
}

.city-property__img {
  padding: 0;
  margin: 0;
  display: block;
  height: 260px;
}

@media (min-width: $tablet-width) {
  .city-property__page-title {
    padding-top: 43px;
    font-weight: bold;
    font-size: 21px;
    line-height: 27px;
    width: 450px;
  }

  .city-property__page-text {
    font-size: 14px;
    line-height: 26px;
    margin: 0 auto;
    padding-bottom: 52px;
    padding-top: 30px;
    text-align: center;
    width: auto;
  }

  .city-property__img {
    height: 257px;
    width: 66.66%;
  }

  .city-property__container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .city-property__wrapper {
    margin: 0;
    box-sizing: border-box;

    &--blue-bg {
      display: flex;
      flex-wrap: wrap;
      grid-column: 1 / -1;
    }

    &--gray-bg {
      min-height: 256px;
      padding: 0 33px;
      border: none;

      &::after {
        display: none;
      }
    }

    &--bridge {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      grid-column: 1 / -1;
    }
  }

  .city-property__folder {
    width: 33.33%;
    min-height: 256px;
    box-sizing: border-box;
  }

  .city-property__title {
    font-weight: bold;
    font-size: 21px;
    line-height: 27px;
    color: $basic-white;
    text-transform: uppercase;
    text-align: center;
    padding-top: 41px;
    margin: 0 auto;
    width: 130px;

    &--gray-bg {
      color: $basic-black;
    }

    &--bridge {
      width: 150px;
      padding-top: 43px;
    }
  }

  .city-property__text {
    font-size: 14px;
    line-height: 21px;
    color: $basic-white;
    text-align: center;
    padding-top: 24px;
    margin: 0 auto;
    padding-bottom: 39px;
    width: 190px;

    &--gray-bg {
      color: $basic-black;
      width: 180px;
    }

    &--gray-bg-small {
      color: $basic-black;
      width: 70%;
    }
  }
}

@media (min-width: $desktop-width) {
  .city-property__page-title {
    padding-top: 55px;
    font-weight: bold;
    font-size: 21px;
    line-height: 27px;
    text-align: center;
    width: 480px;
    margin: 0 auto;
  }

  .city-property__page-text {
    font-size: 14px;
    line-height: 26px;
    margin: 0 auto;
    padding-bottom: 41px;
    padding-top: 30px;
    text-align: center;
    width: auto;
  }

  .city-property__container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .city-property__wrapper {
    margin: 0;
    box-sizing: border-box;

    &--blue-bg {
      display: flex;
      flex-wrap: wrap;
      grid-column: 1 / -1;
    }

    &--gray-bg {
      min-height: 256px;
      padding: 0 40px 24px;
    }
  }

  .city-property__folder {
    width: 33.33%;
    min-height: 256px;
    padding: 4px 52px 0 53px;
    box-sizing: border-box;
  }

  .city-property__text {
    width: 90%;
    padding-top: 22px;
    line-height: 22px;

    &--bridge {
      width: 73%;
    }

    &--gray-bg-small {
      width: 85%;
    }
  }

  .city-property__title {
    line-height: 27px;

    &--bridge {
      padding-top: 45px;
    }

    &--gray-bg {
      padding-top: 40px;
    }
  }
}
