.city-page__title{
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  margin: 0;
  padding-top: 32px;
  text-align: center;
}
  .city-page__text{
  font-size: 14px;
  line-height: 26px;
  margin: 0;
  padding-bottom:48px;
  padding-top:44px;
  text-align: center;
}
