.footer {
    text-align: center;
    padding-top: 39px;
    padding-bottom: 26px;
  }
.footer-contacts{
    font-weight: bold;
    font-size: 21px;
    line-height: 26px;
}
.footer-social{
    text-align: center;
}