.footer-contacts {
  text-align: center;
  padding-bottom: 18px;
}

.footer-contacts__link {
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  text-decoration: none;
  align-self: flex-end;
}

@media (min-width: $tablet-width) {
  .footer-contacts {
    padding: 0;
  }
}
