.footer-copyright {
  display: flex;
  justify-content: center;
  padding-top: 15px;
}

.footer-copyright__text {
  margin-right: 12px;
  font-size: 14px;
  line-height: 28px;
}

.footer-copyright__link {
  align-self: flex-end;
}

.footer-copyright__htmlacademy-logo {
  &:hover {
    fill: $basic-blue;
  }

  &:active {
    fill: $photo-folder-bg;
  }
}

@media (min-width: $tablet-width) {
  .footer-copyright {
    padding: 0;
  }

  .footer-copyright__text {
    line-height: 21px;
  }
}
