.footer-social__list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  list-style: none;
  padding: 0;
}

.footer-social__item {
  background-color: $basic-blue;
  width: 46px;
  height: 48px;

  &:nth-child(2) {
    margin-left: 6px;
  }

  &:last-child {
    margin-left: 6px;
  }
}

.footer-social__icon {
  display: block;
  width: 100%;
  height: 100%;
  fill: $basic-white;

  &--twitter {
    .footer-social__link-icon {
      padding: 13px 13px 15px 13px;
    }
  }

  &--facebook {
    .footer-social__link-icon {
      padding: 13px 13px 15px 13px;
    }
  }

  &--youtube {
    .footer-social__link-icon {
      padding: 14px 12px 14px 14px;
    }
  }
}

@media (min-width: $tablet-width) {
  .footer-social {
    margin-right: 10px;
  }
}
