.main-nav {
  background-color: $basic-blue;
  position: relative;

  &::after {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 7px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.2) 100%);
  }
}

.main-nav__list {
  text-decoration: none;
  list-style: none;
  padding: 0;
  margin: 0;
}

.main-nav__item {
  margin: 0;
  padding: 0;
  text-align: center;
  margin-bottom: 1px;
  box-shadow: 0 1px 0 rgba(1, 1, 1, 0.2);
}

.main-nav__item:last-child .main-nav__link {
  margin: 0;
}

.main-nav__link {
  display: block;
  padding: 18px 0 13px;
  font-weight: bold;
  font-size: 18px;
  color: $basic-white;
  text-decoration: none;
  text-align: center;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2);

  &:hover,
  &:focus {
    background-color: $hover-blue;
  }

  &:active {
    opacity: 0.4;
    background-color: $active-blue;
  }
}

.main-nav__item:first-child .main-nav__link {
  box-shadow: none;
}

.main-nav__toggle {
  position: absolute;
  right: 21px;
  bottom: -39px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  z-index: 255;
  outline: 0;
  display: none;

  &::after {
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 10px;
    height: 22px;
  }

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.main-nav__toggle::before {
  content: "";
  position: absolute;
  top: 1px;
  left: 0;
  width: 22px;
  height: 4px;
  background-color: $basic-blue;
  box-shadow: 0 9px 0 0 $basic-blue, 0 18px 0 0 $basic-blue;
}

.main-nav__close {
  position: absolute;
  right: 18px;
  top: 17px;
  width: 22.2px;
  height: 22.2px;
  border: none;
  background-color: transparent;
  display: none;

  &::before,
  &::after {
    content: "";
    position: absolute;
    display: inline-block;
    vertical-align: middle;
    top: 40%;
    left: -5px;
    width: 28px;
    height: 4px;
    background-color: $basic-white;
  }

  &::before {
    transform: rotate(45deg);
    box-shadow: none;
  }

  &::after {
    transform: rotate(-45deg);
  }

  &:hover::before,
  &:hover::after {
    opacity: 60%;
    cursor: pointer;
  }

  &:focus::before,
  &:focus::after {
    border: none;
  }

  &:active::before,
  &:active::after {
    opacity: 30%;
    border: none;
  }
}

.main-nav--active {
  display: block;
}

@media (min-width: $tablet-width) {
  .main-nav {
    background-color: $basic-white;

    &--left {
      text-align: left;
    }

    &--right {
      text-align: right;
    }

    &::after {
      display: none;
    }
  }

  .main-nav__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .main-nav__item {
    box-shadow: none;
    width: 20%;

    &:nth-child(2) {
      margin-right: auto;
    }

    &:nth-child(3) .main-nav__link {
      margin-left: 8px;
    }

    &:nth-child(4) .main-nav__link {
      margin-left: 3px;
    }
  }

  .main-nav__item:last-child .main-nav__link {
    box-shadow: none;
  }

  .main-nav__link {
    color: $basic-black;
    background-color: transparent;
    font-weight: bold;
    font-size: 14px;
    line-height: 26px;
    padding: 16px 0 14px;

    &:hover,
    &:focus {
      background-color: $basic-blue;
    }

    &:active {
      color: $basic-black;
      background-color: transparent;
      opacity: 0.3;
    }

    &--active {
      background-color: $basic-brown;

      &:hover,
      &:focus {
        background-color: $hover-brown;
      }

      &:active {
        color: $basic-brown;
        opacity: 0.3;
      }
    }
  }

  .main-nav__toggle {
    display: none;
  }

  .main-nav--closed .main-nav__close {
    display: none;
  }

  .main-nav--opened .main-nav__toggle {
    display: none;
  }
}


@media (min-width: $desktop-width) {
  .main-nav__toggle,
  .main-nav__close {
    display: none;
  }

  .main-nav__item {
    &:nth-child(2) {
      margin-left: -2px;
    }

    &:nth-child(3) .main-nav__link {
      margin-right: 4px;
    }
  }

  .main-nav__link {
    padding: 16px 0 14px;
  }
}

/*
  .main-nav__link {
    color: $basic-black;
    background-color: $basic-white;

    &:hover,
    &:focus {

      background-color: $basic-white;
    }

    &:active {
      color: rgba(#000000, 0.3%);
      background-color: $basic-white;
    }

    &--active {

      background-color: $basic-white;

      &:hover,
      &:focus {

        background-color: $basic-white;
      }

      &:active {
        color: rgba(#766357, 0.3%);
        background-color: $basic-white;
      }
    }
  }
}
*/
