.page-form__title {
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  padding-top: 37px;
  margin: 0;
  text-align: center;
}

.page-form__text {
  font-size: 14px;
  line-height: 24px;
  padding-top: 28px;
  margin: 0 auto;
  margin-bottom: 17px;
  text-align: center;
  width: 306px;
}

@media (min-width: $tablet-width) {
  .page-form__title {
    margin: 24px auto 33px auto;
    font-size: 30px;
  }

  .page-form__text {
    width: 440px;
    padding: 0;
  }
}

@media (min-width: $desktop-width) {
  .page-form__title {
    margin: 74px auto 34px auto;
  }
}
