.page-header {
  background-color: $basic-white;
  display: flex;
  flex-direction: column;
  position: relative;
}

.page-header__logo {
  height: 56px;
  order: 2;
  text-align: center;
  z-index: 255;
}


@media (min-width: $tablet-width) {
  .page-header {
    position: relative;
  }

  .page-header__logo {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }
}

@media (min-width: $desktop-width) {
  .page-header {
    position: relative;
  }

  .page-header__logo {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 94px;
  }
  .page-header__logo img{
    width: 187px;
    height: 96px;
  }
}
