.page-photo__title {
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  padding-top: 16px;
  padding-bottom: 13px;
  text-align: center;
}

.page-photo__text {
  padding-bottom: 31px;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  width: 90%;
  margin: 0 auto;
}

@media (min-width: $tablet-width) {
  .page-photo__title {
    padding: 0;
    padding-top: 62px;
    font-weight: bold;
    font-size: 30px;
    line-height: 26px;
    margin: 0 auto;
  }

  .page-photo__text {
    font-size: 14px;
    line-height: 25px;
    margin: 0 auto;
    padding: 0;
    padding-top: 33px;
    text-align: center;
    width: 430px;
  }
}

@media (min-width: $desktop-width) {
  .page-photo__title {
    font-weight: bold;
    font-size: 30px;
    line-height: 26px;
    text-align: center;
    margin: 32px auto 0;
  }

  .page-photo__text {
    font-size: 14px;
    line-height: 25px;
    margin: 0 auto;
    padding: 0;
    padding-top: 33px;
    text-align: center;
    width: 430px;
  }

  .photo__like-number {
    height: 38px;
  }
}
