.page {
  font-size: 14px;
  line-height: 24px;
  font-family: "PT Sans", "Arial", sans-serif;
  height: 100%;
  text-transform: uppercase;
}

.page__body {
  min-height: 100%;
  margin: 0;
  background-color: $basic-white;
  color: $basic-black;
}

@media (min-width: $desktop-width) {
  .page__container {
    max-width: $desktop-width-container;
    box-shadow: 0 5px 15px $form-input-grey;
    margin: 0 auto;
    overflow: hidden;
  }
}
