.page-photo__title {
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  padding-top: 38px;
  padding-bottom: 42px;
  text-align: center;
}

.page-photo__text {
  padding-bottom: 38px;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
}

@media (min-width: $tablet-width) {
  .page-photo__title  {
    padding: 0;
    padding-top: 44px;
    font-weight: bold;
    font-size: 30px;
    line-height: 26px;
    margin: 0 auto;
  }

  .page-photo__text {
    font-size: 14px;
    line-height: 24px;
    margin: 0 auto;
    padding-bottom: 48px;
    padding-top: 44px;
    text-align: center;
    width: 430px;
  }
}

@media (min-width: $desktop-width) {
  .page-photo__title {
    padding-top: 55px;
    font-weight: bold;
    font-size: 30px;
    line-height: 26px;
    text-align: center;
    margin: 0 auto;
  }
  .page-photo__text {
    font-size: 14px;
    line-height: 24px;
    margin: 0 auto;
    padding-bottom: 48px;
    padding-top: 44px;
    text-align: center;
    width: 430px;
  }
}
