.photo-page__title{
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  padding-top: 38px;
  padding-bottom: 42px;
  text-align: center;
}
.photo-page__text{
  padding-bottom: 38px;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
}
.photo__wrapper{
  padding:22px 20px 21px 20px;
}
.photo__link{
  margin: 0;
}
.photo__title{
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  margin:0;
  padding-bottom: 15px;
  padding-top: 10px;
}
.photo__author{
  margin: 0;
  text-transform: none;
  padding-bottom: 13px;
}
.photo__like-number{
  display: inline-block;
  margin: 0;
  margin-left: 14px;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
}
