.photo__wrapper {
  padding: 22px 20px 14px 20px;
  border-top: 1px solid $photo-folder-border;

  &:last-child {
    border-bottom: 1px solid $photo-folder-border;
  }
}

.photo__link {
  margin: 0;
  display: block;
  line-height: 0;
}

.photo__folder {
  padding: 7px 0 0;
}

.photo__title {
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  margin: 3px 0 1px;
}

.photo__author {
  margin: 0;
  text-transform: none;
  padding-bottom: 13px;
}

.photo__like-number {
  display: inline-block;
  margin: 0;
  margin-left: 37px;
  font-weight: bold;
  font-size: 14px;
  line-height: 26px;
  position: relative;

  &::before {
    content: "";
    display: block;
    position: absolute;
    left: -38px;
    top: 0;
    width: 23px;
    height: 21px;
    opacity: 0.3;
    mask-size: contain;
    mask-repeat: no-repeat;
    mask-position: center;
    mask-image: url("../img/icon-like.svg");
    background-color: $basic-black;
  }
}

.photo__button {
  display: none;
}

@media (min-width: $tablet-width) {
  .photo {
    padding: 0 60px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 75px;
  }

  .photo__wrapper {
    border: 0;
    padding: 0;

    img {
      width: 100%;
      height: 267px;
    }

    &--main {
      grid-column: 1 / -1;
      width: 100%;
      padding: 0;

      img {
        width: 100%;
        height: 400px;
      }
    }
  }

  .photo__folder {
    background-color: $form-input-grey;
    padding: 12px 20px 3px;
    display: flex;
    justify-content: space-between;
  }

  .photo__like {
    align-self: center;
    width: 69px;
  }

  .photo__like-number {
    margin-left: 37px;
    height: 33px;

    &::before {
      left: -33px;
    }
  }
}

@media (min-width: $desktop-width) {
  .photo {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 83px;
    padding: 0;
  }

  .photo__wrapper {
    position: relative;
    color: $basic-white;

    &--main {
      grid-column: 1 / -1;
      width: 100%;
    }
  }

  .photo__folder {
    position: absolute;
    bottom: 0;
    left: 0;
    width: calc(100% - 42px);
    height: 65px;
    padding: 12px 21px 3px;
    background: $photo-folder-bg;
  }

  .photo__like-number {
    &::before {
      opacity: 1;
      background-color: $basic-white;
    }
  }
}
