.photo__wrapper {
  padding: 22px 20px 21px 20px;
}

.photo__link {
  margin: 0;
}

.photo__title {
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  margin: 0;
  padding-bottom: 15px;
  padding-top: 10px;
}

.photo__author {
  margin: 0;
  text-transform: none;
  padding-bottom: 13px;
}

.photo__like-number {
  display: inline-block;
  margin: 0;
  margin-left: 14px;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
}

@media (min-width: $tablet-width) {
  .photo {
    display:grid;
    padding: 83px 60px 58px;
    margin: 0;
  }
  .photo__wrapper {
    padding: 0;
    margin:0;
  }

}

@media (min-width: $desktop-width) {
  .photo {
    display:grid;
    padding: 100px 0 63px;
    margin: 0;
  }
}
