.popup {
  background-color: $basic-white;
  position: fixed;
  top: 25%;
  text-align: center;
  box-shadow: 0 18px 18px -18px $basic-black;
}

.popup__title {
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  padding: 0 15px;
  margin-bottom: 25px;
}

.popup__text {
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: $light-black;
  margin-bottom: 24px; 
  padding: 0 15px;
  }

.popup--error {
    width: 320px;
    padding: 40px 40px 35px;
  }

.popup__button--error {
    font-size: 18px;
    min-width: 180px;
  }

.popup--success {
    min-width: 320px;
    width: 100%;
    padding-top: 20px;
  }
  
.popup__text--success {
    padding: 0 50px;
    margin-bottom: 40px;
  }
  
.popup-success__wrapper {
    background-color: $light-grey;
    padding: 20px 0;
  }
  
.popup__button--close {
    width: 280px;
    font-size: 18px;
  }

@media (min-width: $tablet-width) {
    .popup {
      padding-top: 22px;
    }
  
    .popup__title {
      font-weight: bold;
      font-size: 30px;
      line-height: 26px;
      text-transform: uppercase;
      padding: 0 40px;
      margin-bottom: 25px;
    }
  
    .popup__text {
      margin-bottom: 37px;

    }

  .popup-error {
    top: 30%;
    margin-left: -200px;
    left: 50%;
    width: 400px;
  }

  .popup__button--error {
    width: 272px;
    margin-bottom: 15px;
    font-size: 21px;
  }
  .popup--success {
    top: 30%;
    margin-left: -320px;
    left: 50%;
    width: 640px;
  }

  .popup-success__wrapper {
    padding: 47px 0;
  }

  .popup__button--close {
    font-size: 21px;
    line-height: 26px;
    width: 458px;
  }
}
}