.recreation-list {
  background-color: $basic-white;
  padding-top: 17px;
  padding-bottom: 12px;
  padding-left: 19px;
  text-align: left;
}

.recreation-list__item {
  position: relative;
  margin-bottom: 25px;
}

.recreation-list__title {
  font-size: 18px;
  line-height: 26px;
  margin-bottom: 16px;
  padding: 0;
  padding-left: 50px;
}

.recreation-list__text {
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
  margin: 0;
  padding: 0;
  padding-left: 50px;
  width: 230px;
}

.recreation-list__icon {
  position: absolute;
  content: "";
  width: 40px;
  height: 37px;
  background-repeat: no-repeat;
  top: -11px;
  background-size: contain;
  background-position: bottom right;
  fill: $basic-blue;

  &--home {
    background-image: url("../img/icon-house.svg");
  }

  &--present {
    background-image: url("../img/icon-gift.svg");
    left: -3px;
  }

  &--food {
    background-image: url("../img/icon-burger.svg");
    top: -5px;
    left: -1px;
  }
}

@media (min-width: $tablet-width) {
  .recreation-list {
    background-color: $basic-white;
    display: flex;
    justify-content: space-between;
    padding: 0;
    width: 100%;

    :nth-child(2) {
      order:1;
    }
  }

  .recreation-list__item {
    position: relative;
    margin-top: 56px;
    margin-bottom: 61px;
    text-align: center;
    width:33.33%
  }

  .recreation-list__title {
    padding-left: 0;
    font-size: 21px;
    margin-top: 19px;
    margin-bottom: 23px;
  }

  .recreation-list__text {
    padding: 0;
    margin: 0 auto;
    width:193px;

    &--food {
      width:155px
    }
  }

  .recreation-list__icon {
    position: relative;
    transform: none;
    background-repeat: no-repeat;
    display: inline-block;
    width: 74px;
    height: 76px;
    background-size: contain;
    top: 0;
    background-position: bottom center;
  }
}

@media (min-width: $desktop-width) {
  .recreation-list {
    background-color: $basic-white;
    display: flex;
    padding: 0;
    justify-content: space-between;
  }

  .recreation-list__item {
    position: relative;
    margin-bottom: 80px;
  }
}
