.recreation-list {
  background-color: $basic-white;
  padding-top: 21px;
  padding-bottom: 26px;
  padding-left: 21px;
  text-align: left;
}

.recreation-list__item {
  position: relative;
}

.recreation-list__title {
  font-size: 18px;
  line-height: 26px;
  margin-bottom: 21px;
  padding: 0;
  padding-left: 70px;
}

.recreation-list__text {
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
  margin: 0;
  padding: 0;
  padding-left: 70px;
}

.recreation-list__icon {
  position: absolute;
  content: "";
  width: 40px;
  height: 37px;
  background-repeat: no-repeat;
  top: -11px;
  background-size: contain;
  background-position: bottom right;

  &--home {
    background-image: url("../img/icon-house.svg");
  }

  &--present {
    background-image: url("../img/icon-gift.svg");
  }

  &--food {
    background-image: url("../img/icon-burger.svg");
  }
}

@media (min-width: $tablet-width) {
  .recreation-list {
    background-color: $basic-white;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 0;
  }

  .recreation-list__item {
    position: relative;
    margin-top: 63px;
    margin-bottom: 60px;
    text-align: center;
    padding: 0 20px;
  }

  .recreation-list__title,
  .recreation-list__text {
    padding-left: 0;
  }

  .recreation-list__icon {
    position: relative;
    left: none;
    transform: none;
    background-repeat: no-repeat;
    display: inline-block;
    width: 76px;
    height: 76px;
    background-size: contain;
    top: 0;
    background-position: bottom center;
  }
}

@media (min-width: $desktop-width) {
  .recreation-list {
    background-color: $basic-white;
    display: grid;
    grid-template-columns: 400px 400px 400px;
    padding: 0;
  }

  .recreation-list__item {
    position: relative;
    margin-bottom: 80px;
  }
}
