.search {
  padding-top: 33px;
  padding-bottom: 49px;
}

.search__wrapper { 
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.search__title {
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  padding-bottom: 30px;
  margin: 0 auto;
  text-align: center;
}

.search__text {
  font-size: 14px;
  line-height: 24px;
  padding-bottom: 27px;
  margin: 0 auto;
  text-align: center;
  width:280px;
}

.search__hotels {
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  color: $basic-white;
  background-color: $basic-blue;
  padding: 14px 32px 17px 32px;
  text-align: center;
  margin:0 20px;
}

@media (min-width: $tablet-width){
  .search {
    padding-top: 57px;
    padding-bottom: 58px;
  }
  .search__title {
    font-size: 30px;
    line-height: 26px;
    padding-bottom: 37px;
  }  
  .search__text {
    width: 435px;
    padding-bottom: 37px;
    padding: 14px 121px 17px 121px;
  }
}
@media (min-width: $desktop-width){
  .search {
    padding-bottom: 66px;
  }
  .search__title {
    padding-bottom: 42px;
  }
}