.search {
  padding-top: 33px;
  padding-bottom: 49px;
}

.search__title {
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  padding-bottom: 30px;
  margin: 0;
  text-align: center;
}

.search__text {
  font-size: 14px;
  line-height: 24px;
  padding-bottom: 27px;
  margin: 0;
  text-align: center;
}

.search__hotels {
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  color: $basic-white;
  background-color: $basic-blue;
  padding: 14px 32px 17px 32px;
  text-align: center;
}
