.video-gallery {
  width: 100%;
  margin: 0 auto;
  position: relative;
}

.video-gallery__clip {
  display: block;
  object-fit: cover;

  img {
    display: block;
  }
}

.video-gallery__controls {
  width: calc(100% - 40px);
  height: 66px;
  position: relative;
  background-color: $form-input-grey;
  margin: 0 auto;
}

.video-gallery__range-wrapper {
  position: absolute;
  top: -45px;
  height: 15px;
  background: rgba(0, 0, 0, 0.6);
  width: calc(100% - 46px);
  padding: 15px 23px;
}

.video-gallery__range-line {
  width: 100%;
  height: 3px;
  background-color: $video-range-button;
  position: relative;
  margin-top: 7px;
}

.video-gallery__range-progress {
  position: absolute;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background-color: $basic-white;
  border: 0;
  top: -3px;
  left: 35px;
  padding: 0;
}

.video-gallery__button {
  fill: $button-color-mobil;

  &--play {
    position: absolute;
    left: 16px;
    top: 22px;
    width: 34px;
    height: 20px;
    border: none;
  }

  &--subtitles {
    position: absolute;
    right: 68px;
    top: 22px;
    width: 45px;
    height: 20px;
    border: none;
  }

  &--fullscreen {
    position: absolute;
    right: 16px;
    top: 22px;
    width: 34px;
    height: 20px;
    border: none;
  }

  &:hover {
    fill: $light-black;
  }

  &:active {
    fill: $light-black-active;
  }
}

@media (min-width: $tablet-width) {
  .video-gallery {
    margin: 0 auto;
    width: calc(100% - 120px);
    height: 500px;
  }

  .video-gallery__clip img {
    display: block;
    width: 100%;
  }

  .video-gallery__controls {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 34px 0 26px;
    width: calc(100% - 60px);
    margin-top: -92px;
    height: 93px;
    background: rgba(0, 0, 0, 0.6);
  }

  .video-gallery__range-wrapper {
    position: relative;
    width: calc(100% - 199px);
    background: none;
    top: unset;
    padding: 0;
    height: 17px;
  }

  .video-gallery__range-progress {
    left: 113px;
  }

  .video-gallery__button {
    background: none;
    fill: $basic-white;
    height: 24px;
    position: relative;
    top: unset;
    left: unset;
    right: unset;


    &--play {
      margin-top: -3px;
      background-color: unset;
    }

    &--subtitles {
      margin-right: -17px;
    }

    &:hover {
      fill: $video-hover-button;
    }

    &:active {
      fill: $video-range-button;
    }
  }
}

@media (min-width: $desktop-width) {
  .video-gallery {
    width: 800px;
  }

  .video-presentation__text {
    margin-bottom: 78px;
  }

  .video-gallery__controls {
    padding: 0 36px 0 25px;
    width: calc(100% - 61px);
    margin-top: -93px;
  }
}
