.welcome {
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-color: $basic-blue;
  background-repeat: no-repeat;
  padding-top: 88px;
  padding-bottom: 76px;
  text-align: center;
  background-position: center center;
  position: relative;

  &::after {
    position: absolute;
    content: "";
    background-image: url("../img/bg-intro-triangle-mobile.svg");
    width: 100%;
    height: 50%;
    bottom: 0;
    left: 0;
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: 100% auto;
    margin-bottom: -1px;
  }

  @media (min-resolution: 2dppx) {
    background-image: url("../img/bg-back-mobile@2x.jpg");
    background-size: 764px auto;
  }

  &--form {
    padding-top: 51px;
    padding-bottom: 77px;
    height: 28px;
    text-align: center;
    background-position: 50% 100%;
  }

  &--photo {
    padding-top: 51px;
    padding-bottom: 67px;
    height: 38px;
    text-align: center;
    background-position: 50% 100%;
  }
}


@media (min-width: $tablet-width) {
  .welcome {
    background-image: url("../img/bg-back-tablet@1x.jpg");
    background-color: $basic-blue;
    padding-top: 76px;
    padding-bottom: 88px;
    height: 353px;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    background-position: center center;

    &::after {
      background-image: url("../img/bg-intro-triangle-tablet.svg");
    }

    @media (min-resolution: 2dppx) {
      background-image: url("../img/bg-back-tablet@2x.jpg");
    }

    img {
      width: 460px;
      height: 350px;
    }

    &--form,
    &--photo {
      padding-top: 94px;
      padding-bottom: 120px;
      height: 76px;
      text-align: center;
      background-position: 50% 100%;
      background-size: cover;
      background-repeat: no-repeat;

      img {
        width: 457px;
        height: 78px;
      }
    }
  }
}

@media (min-width: $desktop-width) {
  .welcome {
    background-image: url("../img/bg-back-desktop@1x.jpg");
    background-color: $basic-blue;
    padding-top: 77px;
    padding-bottom: 87px;
    height: 353px;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    background-position: center center;

    &::after {
      background-image: url("../img/bg-intro-triangle-desktop.svg");
    }

    @media (min-resolution: 2dppx) {
      background-image: url("../img/bg-back-desktop@2x.jpg");
    }

    &--form,
    &--photo {
      padding-top: 100px;
      padding-bottom: 124px;
      height: 76px;
      text-align: center;
      background-position: 50% 100%;
      background-size: cover;
      background-repeat: no-repeat;
    }
  }
}
