.welcome {
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-color: $basic-blue;
  background-repeat: no-repeat;
  padding-top: 90px;
  padding-bottom: 75px;
  text-align: center;
  background-position: center center;
}

.welcome--form {
  padding-top: 53px;
  padding-bottom: 77px;
  height: 28px;
  text-align: center;
  background-position: center center;
}

.welcome--photo {
  padding-top: 52px;
  padding-bottom: 67px;
  height: 40px;
  text-align: center;
  background-position: center center;
}

@media (min-width: $tablet-width) {
  .welcome {
    background-image: url("../img/bg-back-tablet@1x.jpg");
    background-color: $basic-blue;
    padding-top: 90px;
    padding-bottom: 75px;
    height: 353px;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    background-position: center center;

    &--form,
    &--photo {
      padding-top: 95px;
      padding-bottom: 117px;
      height: 78px;
      text-align: center;
      background-position: center center;
      background-size: cover;
      background-repeat: no-repeat;
    }
  }
}

@media (min-width: $desktop-width) {
  .welcome {
    background-image: url("../img/bg-back-desktop@1x.jpg");
    background-color: $basic-blue;
    padding-top: 90px;
    padding-bottom: 75px;
    height: 353px;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    background-position: center center;

    &--form,
    &--photo {
      padding-top: 111px;
      padding-bottom: 120px;
      height: 78px;
      text-align: center;
      background-position: center center;
      background-size: cover;
      background-repeat: no-repeat;
    }
  }
}
